body {
	background: #EEEEEE;
}

.codeMirror {
	border: 1px solid;
	width: 600;
	height: 400;
}

div.CodeMirror span.CodeMirror-matchingbracket {background-color: #EEEEEE;}
/*div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}*/
#results {
	border: 1px solid;
}
